.nav{
    grid-area: sidebar;
    background-color: rgb(29, 184, 184);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;

    color: white;
    font-size: 19px;
}
.item{
    padding-top: 10px;
}

.item.news{
    color: rgb(3, 17, 3);
}
.item.feed{
    color: rgb(3, 17, 3);
}