.nav {
  grid-area: sidebar;
  background-color: #e96812;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;

  align-self: start;

  font-size: 19px;
}
a {
  text-decoration: none;
}
a.disactiveLink {
  color: white;
}
.item {
  padding: 5px 5px 10px 5px;
}

.item a.activeLink {
  color: rgb(0, 75, 29);

  border-bottom: 1px solid rgb(0, 75, 29);
}
