
.app-wrapper{
  display: grid;
  grid-template-rows: 160px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
      " header header "
      " sidebar content";
}

.header{
    grid-area: header;
    background-color: blue;
}
.logo img{
  height: 150px;
  width: 150px;
}
.nav{
    grid-area: sidebar;
}
.content{
    grid-area: content;
}


.head{
    display: flex;
    background-color: gray;


}
.item{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  flex-basis: 40% 60%; 
}
.icon{
  flex-basis: 3%;
}
.n_l{
  flex-basis: 57%;
}