
.app-wrapper{
  display: grid;
  width: auto;
  gap: 10px;

  grid-template-rows: 160px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
      " header header "
      " sidebar content";
}







